body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

/*elements*/

h1 {
    color: orangered;
    z-index: 10;
}

h2 {
    margin-bottom: 10px;
    /* border-bottom: solid 2px orangered; */
}

h3 {
   
}

button {
    margin: 10px 10px;
    padding: 5px 20px;
    background-color: rgb(114, 160, 158);
    color: white;
    font-weight: bold;
    border: solid 1px rgb(24, 43, 42);
}

button:hover {
    background-color: orangered;
}

p {
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 3px; */
}

table {
    /* table-layout: fixed; */
    width: 380px;
    border-collapse: collapse;
    /* border: 1px solid purple; */
    margin-top: -10px;
}

thead th:nth-child(1) {
    width: 20px;
}

thead th:nth-child(2) {
    width: 120px;
}

thead th:nth-child(3) {
    width: 120px;
}

thead th:nth-child(4) {
    width: 120px;
}

td, th {
    text-align: left;
    padding: 0px 10px;
}



/*IDs in order they appear in html*/

#roundWinner {
   color: rgb(175, 175, 33);
   font-style: bold;
}

#buttonDiv {
    background-color: rgb(175, 175, 33);
}

#choiceDiv {

}

#humanChoiceDiv, #computerChoiceDiv {
    flex-direction: column;
    margin: 20px 10px;
}

#humanObject, #computerObject {
    color: orangered;
    font-weight: bold;
    font-size: x-large;
}

#scoreDiv {
    flex-direction: column;
    align-items: center;
    background-color: rgb(114, 160, 158);
    margin-bottom: 10px;
}

#innerScoreDiv {
    margin: -10px 0px 20px 0px;
}

#humanScoreDiv, #computerScoreDiv {
    align-items: baseline;
}

#humanScoreDiv {
    margin-right: 25px;
}

#humanScoreDisplay, #computerScoreDisplay {
    
    color: orangered;
    font-style: bold;
    font-size: large;
    background-color: white;
    padding: 6px 5px 2px 5px;
}

#humanScoreDisplay {
    margin-left: 10px;
}

#computerScoreDisplay {
    margin-right: 10px;
}

#tableDiv {
    flex-direction: column;
}


/*classes*/

.smallText {
    font-size: small;
    color: orangered;
    margin: 20px 0px;
}

.choice {

}

.dataText {
    font-size: small;
}

.gameOverDiv {
    flex-direction: column;
    max-width: 300px;
    height: 265px;
    padding: 40px;
    z-index: 10;
    position: absolute;
    background-color: rgb(175, 175, 33);
}
